@{
   ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
   <h1>Elite International University</h1>
</div>
<div class="row">
   <div class="col-md-4">
      <h2>Welcome to Elite International University</h2>
      <p>
         Elite International University has the best programs in the Tri-State area. Your enrollment here
         will be followed by a quick and easy graduation day and on site faculty will
         be here to help you land a great job in your field.
      </p>
   </div>
   <div class="col-md-4">
      <h2>Attendance is inexpensive!</h2>
      <p>
         YOur professors believe in the learning of
         their students and work at lower salaries to help you, the student,
         attend at a discounted and cheap rate.
      </p>
      <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
   </div>
   <div class="col-md-4">
      <h2>Apply Today!</h2>
      <p>If you find the application button, you can apply!</p>
      <p><a class="btn btn-default" href="https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
   </div>
</div>